<div id="main">
    <div class="header">
        <h1> Healthcare </h1>
        <h2> Your health is the most important thing</h2>
    </div>

    <div class="content">
        <h2 class="content-subhead">Welcome to the health care application</h2>
        <p>
          This application is created with an intent to simplify the way that doctors and patient interact with each other. This applciation has 3 parts, the web applicaion, a mobile app and an Alexa skill with which the user can easily get access to the essentiel information about his doctor appointment, medicine in take, presceriptions and vital monitoring
        </p>
        <% if !@user && !@doctor %>
        <h2 class="content-subhead">Get Access</h2>
        <p>
            You can login as Patient by <%= link_to "Clicking Here", {:controller => :patients, :action => :login}, { class: 'pure-button  button-secondary'} %>.
            <br/>
            <br/>
            You can login as Doctor by <%= link_to "Clicking Here", {:controller => :doctors, :action => :login}, { class: 'pure-button  button-secondary'} %>.
            <br/>
            <code>Have a good day!</code>
        </p>
        <% end %>
        <% if @user %>
          <h2 class="content-subhead">You have logged in as Patient <%= link_to "Logout", {:controller => :patients, :action => :logout}, { class: 'pure-button  button-secondary'} %> </h2>
          <p>
            Welcome Patient: <%= @patient.first_name %>&nbsp;<%= @user.last_name %>
            You will have the context of the logged in user in viewing all the user related views. Please logout in case you are facing some issues. Have a good health!
          </p>
        <% end %>
        <% if @doctor %>
          <h2 class="content-subhead">You have logged in as Doctor  <%= link_to "Logout", {:controller => :doctors, :action => :logout}, { class: 'pure-button  button-secondary'} %></h2>
          <p>
            Welcome Doctor: <%= @doctor.first_name %>&nbsp;<%= @doctor.last_name %>
            You will have the context of the logged in doctor in viewing all the doctor related views. Please logout in case you are facing some issues. Have a good health!
          </p>
        <% end %>
